{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static '/css/psicologos.css' %}">
</head>

<body>

    <div class="layout">

        <aside class="sidebar">
            <h2 class="logo">FYM</h2>
            <a href="/panel" class="menu">Panel principal</a>
            <a href="/agendas" class="menu active">Agendas</a>
            <a href="/mensajes" class="menu">Mensajes</a>
            <a href="/cuenta" class="menu">Cuenta</a>
            <a href="/" class="menu">Cerrar sesión</a>
        </aside>

        <main class="main">
            <h1>Agendas</h1>
            
            <div class="table-section">
                <table>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Paciente</th>
                        <th>Motivo</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td>22/02/2026</td>
                        <td>4:00 PM</td>
                        <td>María Gómez</td>
                        <td>Ansiedad</td>
                        <td><span class="badge confirmada">Confirmada</span></td>
                    </tr>
                    <tr>
                        <td>24/02/2026</td>
                        <td>3:00 PM</td>
                        <td>Lucía Fernández</td>
                        <td>Depresión leve</td>
                        <td><span class="badge reprogramada">Reprogramada</span></td>
                    </tr>
                </table>
            </div>

        </main>
    </div>
</body>

</html>