{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static '/css/public.css' %}" >
</head>

<body>

    <div class="auth-container">
        <div class="auth-box">
            <h2>Iniciar Sesión</h2>

            <input type="email" placeholder="Correo">
            <input type="password" placeholder="Contraseña">

            <a href="panel.html"><button>Ingresar</button></a>

            <p style="margin-top:15px;">
                ¿No tienes cuenta? <a href="/registro">Regístrate aquí</a>
            </p>
        </div>
    </div>

</body>

</html>